<div class="row">

    <div class="col-md-4 col-md-offset-1">
        <div class="well">
            <div class="row">
                <h4 class="text-success lighter">
                    当前时间: {{current.date}}
                </h4>
            </div>
            <hr>
            <div class="col-md-offset-1">
                <p><span class="text-info"><strong>{{current.yearString}}</strong></span></p>
                <p><span class="text-primary">司天 </span>{{current.sky.qi}}</p>
                <p><span class="text-primary">主气 </span>{{current.primary.name}}</p>
                <p>
                    <span class="text-primary">中运 </span>{{current.middle.yun + "运 "}}
                    <i class="icon-plus green" ng-if="current.middle.isYang"></i>
                    <i class="icon-minus red" ng-if="!current.middle.isYang"></i>
                </p>
                <p><span class="text-primary">客气 </span>{{current.customer.qi}}</p>
                <p><span class="text-primary">在泉 </span>{{current.water.qi}}</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="well">
            <div class="row">
                <h4 class="text-info lighter inline">
                    请选择时间
                </h4>
                <input class="date-picker"
                       type="date"
                       ng-model="customDate">
                <i class="icon-calendar bigger-110"></i>
                <button type="button" class="btn btn-info btn-sm" ng-click="select()">确定</button>
            </div>
            <hr>
            <div class="col-md-offset-1" ng-if="userSelected != null">
                <p><span class="text-info"><strong>{{userSelected.yearString}}</strong></span></p>
                <p><span class="text-primary">司天 </span>{{userSelected.sky.qi}}</p>
                <p><span class="text-primary">主气 </span>{{userSelected.primary.name}}</p>
                <p>
                    <span class="text-primary">中运 </span>{{userSelected.middle.yun + "运 "}}
                    <i class="icon-plus green" ng-if="userSelected.middle.isYang"></i>
                    <i class="icon-minus red" ng-if="!userSelected.middle.isYang"></i>
                </p>
                <p><span class="text-primary">客气 </span>{{userSelected.customer.qi}}</p>
                <p><span class="text-primary">在泉 </span>{{userSelected.water.qi}}</p>
            </div>
        </div>
    </div>
</div>