.root-bg-1{
    background: url(http://jamesgit.qiniudn.com/bg_1.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.root-bg-2{
    background: url(http://jamesgit.qiniudn.com/bg_2.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.root-bg-3{
    background: url(http://jamesgit.qiniudn.com/bg_3.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.root-bg-4{
    background: url(http://jamesgit.qiniudn.com/bg_4.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.root-bg-5{
    background: url(http://jamesgit.qiniudn.com/bg_5.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.root-bg-6{
    background: url(http://jamesgit.qiniudn.com/bg_6.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.root-bg-7{
    background: url(http://jamesgit.qiniudn.com/bg_7.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

body {
    font-family: arial, sans-serif;
    font-size: 15px;
    color: #164573;
    background-color: #f4ebdb;
}

::selection {
    background: #3D9C78; /* WebKit/Blink Browsers */
}

.inline {
    display: inline-block !important;
}

.home {
    box-sizing: content-box;
    width: 200px;
    background-color: white;
    position: absolute;
    top: 40%;
    top: calc(50% - 115px);
    top: -moz-calc(50% - 115px);
    top: -webkit-calc(50% - 115px);
    right: 5%;
    padding: 30px 25px 25px;
    border-radius: 10px;
    opacity: .77;
}

.homeTitle{
    font-size: 28px;
    color: #777;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.homeList{
    color: #333;
    list-style-type: none;
    margin: 20px 0px 0px;
    padding: 0px;
    text-align: center;
}

.homeList a{
    font-size: 20px;
    letter-spacing: 0.0625px;
    text-decoration: none;
    color: #999;
}

.homeList a:hover, .homeList a:active{
    color: #51d8c5;
}

.homeList li{
    margin: 2px 0px;
}

.container {
    margin-top: 50px;
}

blockquote{
    border-left: 5px solid #D53E42 !important;
}


.nav {
    z-index: 3;
    margin-top: 10px;
    text-align: right;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

a {
    color: #2C7157;
}

a:hover {
    color: #344682;
}

hr{
    border-top: 1px solid #E2F1EC;
}


.gallery {
    overflow: hidden;
    padding: 3%;
}

.gallery ul {
    float: left;
}

.gallery ul li {
    list-style: none;
    perspective: 100px;
    -webkit-perspective: 100px;
    margin: 1px;
    float: left;
    position: relative;
    transition: .1s;
    -webkit-transition: 0.1s;
}

.gallery ul li.video::before {
    content: '\25BA';
    color: #FFF;
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 0.9;
    position: absolute;
    bottom: 3px;
    left: 4px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: 0 3px 0 0;
    pointer-events: none;
    opacity: 0;
    transition: .5s 0.2s;
}

.gallery ul li.loaded.video::before {
    opacity: 1;
}

.gallery ul a {
    display: block;
    width: 75px;
    height: 68px;
    vertical-align: bottom;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
    transition: .4s ease-out;
    -webkit-transition: 0.4s ease-out;
    -webkit-transform: rotateX(90deg) translate(-50px, -50%);
    transform: rotateX(90deg) translate(-50px, -50%);
}

.gallery ul a:active,
.gallery ul a:focus {
    outline: none;
}

.gallery ul a img {
    min-height: 100%;
    width: 100%;
    transition: .3s ease-out;
    -webkit-transition: 0.3s ease-out;
}

.gallery ul .loaded a {
    -webkit-transform: rotateX(0deg) translate(0, 0);
    transform: rotateX(0deg) translate(0, 0);
}

.gallery ul li.loaded:hover {
    z-index: 2;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.gallery ul li.loaded a:hover {
    box-shadow: 0 0 0 2px #FFF, 0 0 20px 5px #000;
    transition: .1s;
    -webkit-transition: 0.1s;
}

.gallery ul li.loaded:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.gallery ul li.loaded.video:hover::before {
    opacity: 0;
}

/*------- media queries -----------*/
@media all and (max-width: 700px) {
    .gallery ul li {
        margin: 0;
    }

    .gallery ul a {
        width: 55px;
        height: 50px;
    }

    .gallery ul li.loaded:hover img,
    .gallery ul li.loaded:hover {
        transform: none;
        -webkit-transform: none;
    }

    .home {
        right: 12%;
        right: calc(50% - 125px);
        right: -moz-calc(50% - 125px);
        right: -webkit-calc(50% - 125px);
    }
}
